**/node_modules
**/dist
**/build
**/build-server
**/.buildcache
**/certs
.turbo/


.env

apps/pdf/templates/common/playfair-display
apps/pdf/templates/common/roboto
apps/pdf/templates/common/roboto-slab
apps/web/files/
apps/web/tmp/
