<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="invoice.css" media="print" rel="stylesheet" />
    <link href="invoice.css" rel="stylesheet" />
    <!-- <link href="interface.css" rel="stylesheet" /> -->
    <!-- <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script> -->
    <title>Invoice</title>
    <meta name="description" content="Invoice demo sample" />
  </head>

  <body>
    <section id="invoice">
      <h1>STOOP METALLBAU</h1>

      <div id="company">
        <div class="row">
          <div>HUEBWISSTRASSE 11</div>
          <div>8117 FÄLLANDEN</div>
        </div>
        <div class="row">
          <div>TEL 044 826 00 44</div>
          <div>FAX 044 826 06 44</div>
        </div>
        <div class="row">
          <div>CREDIT SUISSE</div>
          <div>8050 ZÜRICH</div>
        </div>
        <div class="row">
          <div>MWST</div>
          <div>CHE-110.423.236 MWST</div>
        </div>
        <div class="row">
          <div>E-MAIL</div>
          <div>stoop@stoopmeta11bau.ch</div>
        </div>
        <div class="row">
          <div>HOMEPAGE</div>
          <div>www.stoopmeta11bau.ch</div>
        </div>
      </div>

      <div id="to">
        <div>Felix Eichenberger</div>
        <div>Rehalpstrasse 92</div>
        <div>8008 Zürich</div>
      </div>

      <h2>Rechnung 0065</h2>
      <hr />
      <p>
        Wir danken Ihnen für Ihre Anfrage, und gestatten uns, Ihnen nachstehende
        Offerte zu unterbreiten.
      </p>

      <table id="details">
        <tr class="project">
          <td>
            <div><strong>Projekt</strong></div>
          </td>
          <td>
            <div>Renovation, Kellergerüst</div>
          </td>
        </tr>
        <tr class="object">
          <td>
            <div><strong>Objekt</strong></div>
          </td>
          <td>
            <div>REFH, Rehalpstrasse 92, 8008 Zürich</div>
          </td>
        </tr>
        <tr class="customer">
          <td>
            <div><strong>Besteller</strong></div>
          </td>
          <td>
            <div>Felix Eichenberger</div>
          </td>
        </tr>
      </table>

      <div class="items">
        <div class="row">
          <div class="item">
            <strong>Pos. 01 - Regal-Gestell bei Wohnzimmer zu Küche</strong>
            <div>
              Neues Regal-Gestell gemäss Besprechung vor Ort bestehend aus
              gelaserten 4 mm Stahlblechen, oberstes Tablar von links nach
              rechts durchlaufend, mit mittigem Verstärkungsrohr 20/20/3.0 mm,
              links 7 Stk. Tablare mit zwei Winkelprofilen als vertikale
              Eckstützen, rechts 7 Stk. Tablare mit vertikalem Abschlussblech,
              linkes und rechtes Tablarelement oben mit dem grossen Tablar
              verschraubt, Montage mittels angeschweissten Laschen und Dübeln in
              die Wände bzw. in den Fussboden, inkl. genaue Massaufnahme,
              Produktion, Lieferung und Montage Masse: ca. 1665 x 2300 x 180-220
              mm Oberfläche: Pulver in RAL 5014 - Taubenblau
            </div>
          </div>
          <div class="price">€3,420.00</div>
        </div>

        <div class="row">
          <div class="item">
            <strong>Pos. 01 - Regal-Gestell bei Wohnzimmer zu Küche</strong>
            <div>
              Neues Regal-Gestell gemäss Besprechung vor Ort bestehend aus
              gelaserten 4 mm Stahlblechen, oberstes Tablar von links nach
              rechts durchlaufend, mit mittigem Verstärkungsrohr 20/20/3.0 mm,
              links 7 Stk. Tablare mit zwei Winkelprofilen als vertikale
              Eckstützen, rechts 7 Stk. Tablare mit vertikalem Abschlussblech,
              linkes und rechtes Tablarelement oben mit dem grossen Tablar
              verschraubt, Montage mittels angeschweissten Laschen und Dübeln in
              die Wände bzw. in den Fussboden, inkl. genaue Massaufnahme,
              Produktion, Lieferung und Montage Masse: ca. 1665 x 2300 x 180-220
              mm Oberfläche: Pulver in RAL 5014 - Taubenblau
            </div>
          </div>
          <div class="price">€3,420.00</div>
        </div>

        <div class="row">
          <div class="item">
            <strong>Pos. 01 - Regal-Gestell bei Wohnzimmer zu Küche</strong>
            <div>
              Neues Regal-Gestell gemäss Besprechung vor Ort bestehend aus
              gelaserten 4 mm Stahlblechen, oberstes Tablar von links nach
              rechts durchlaufend, mit mittigem Verstärkungsrohr 20/20/3.0 mm,
              links 7 Stk. Tablare mit zwei Winkelprofilen als vertikale
              Eckstützen, rechts 7 Stk. Tablare mit vertikalem Abschlussblech,
              linkes und rechtes Tablarelement oben mit dem grossen Tablar
              verschraubt, Montage mittels angeschweissten Laschen und Dübeln in
              die Wände bzw. in den Fussboden, inkl. genaue Massaufnahme,
              Produktion, Lieferung und Montage Masse: ca. 1665 x 2300 x 180-220
              mm Oberfläche: Pulver in RAL 5014 - Taubenblau
            </div>
          </div>
          <div class="price">€3,420.00</div>
        </div>

        <div class="row">
          <div class="item">
            <strong>Pos. 01 - Regal-Gestell bei Wohnzimmer zu Küche</strong>
            <div>
              Neues Regal-Gestell gemäss Besprechung vor Ort bestehend aus
              gelaserten 4 mm Stahlblechen, oberstes Tablar von links nach
              rechts durchlaufend, mit mittigem Verstärkungsrohr 20/20/3.0 mm,
              links 7 Stk. Tablare mit zwei Winkelprofilen als vertikale
              Eckstützen, rechts 7 Stk. Tablare mit vertikalem Abschlussblech,
              linkes und rechtes Tablarelement oben mit dem grossen Tablar
              verschraubt, Montage mittels angeschweissten Laschen und Dübeln in
              die Wände bzw. in den Fussboden, inkl. genaue Massaufnahme,
              Produktion, Lieferung und Montage Masse: ca. 1665 x 2300 x 180-220
              mm Oberfläche: Pulver in RAL 5014 - Taubenblau
            </div>
          </div>
          <div class="price">€3,420.00</div>
        </div>
      </div>

      <div id="summary">
        <div class="row">
          <div>Total</div>
          <div>Fr. 30'000.00</div>
        </div>
        <div class="row">
          <div>+ MWST 8.1%</div>
          <div>Fr. 134.00</div>
        </div>
        <div class="row">
          <div>Rechnungsbetrag, netto</div>
          <div class="border-top">Fr. 31'000.00</div>
        </div>
      </div>

      <div class="conditions">
        <div>
          <strong>Konditionen:</strong>
        </div>
        <div>30 Tage netto, inkl. MWSt 7,7%</div>
        <div>Bitte verwenden Sie den beiliegenden EZS mit der ESR-Nummer.</div>
        <div>Ungerechtfertigte Abzüge werden nachbelastet.</div>
        <div>IBAN CH97 0483 5062 2988 0100 0</div>
        <div>Besten Dank für Ihren Auftrag.</div>
      </div>
    </section>

    <section id="qrbill">
      <div class="qrcode">
        <img src="qr-bill.svg" alt="QR-Code" />
      </div>
    </section>
  </body>
</html>
